<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>CFBundleDisplayName</key>
	<string>Super Xtreme Mapping</string>
	<key>CFBundleName</key>
	<string>Super Xtreme Mapping</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.native-instruments.traktor.tsi</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).tsi</string>
		</dict>
	</array>
	<key>NSDocumentAutosavesInPlace</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Traktor Settings</string>
			<key>UTTypeIdentifier</key>
			<string>com.native-instruments.traktor.tsi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tsi</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
